@tailwind  base;

/*
  Content sections conventions
*/
section {
  @apply pb-10;
  @apply px-4;
}

p+p {
  @apply mt-4;
}

/*
  Global headings conventions
*/
h1, h2, h3 {
  @apply text-gray-900;
  @apply mb-4;
  @apply font-semibold;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
  @apply mt-4;
}

h3 {
  @apply text-xl;
  @apply mt-4;
}

/*
  Base styles for links
*/
a {
  @apply border-b-2;
  @apply border-red-700;
}

a:hover,
a:focus {
 @apply border-b-2;
 @apply border-red-500;
}

a.naked-link:link,
a.naked-link:visited {
  @apply border-0;
}

.content ol li {
  @apply list-decimal;
  @apply pl-2;
}

code {
  @apply bg-gray-200;
  @apply text-sm;
  @apply p-1;
  @apply rounded;
}

.filter-bw-800 {
  filter: grayscale(0.8);
}

.mb--2 {
  margin-bottom: -0.5rem;
}
.mb--4 {
  margin-bottom: -1rem;
}

/* For responsive youtube embeds */
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.video-responsive iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

@tailwind  components;

@tailwind utilities;
