
<header>
  <h2>
    <a href="/">Adam Mish</a>
  </h2>
  {# <nav>
    {%
      set linkList = [
        { "url": "mailto:mail@adammi.sh" , "text": "mail@adammi.sh"}
      ]
    %}
    {% include "navigation-links.njk" %}
  </nav> #}
</header>



