<div class="site-description">
  <h1>Hi, I'm
    <a href="/">Adam</a>.
  </h1>
  <p>I write
    <a href="/poems">poetry</a>,
    <a href="https://github.com/adammish">code</a>,
    <a href="/blog">blog posts</a>, and music (tracks coming soon).
  </p>
  {# </p>Founder/Coder @
<a href="https://rocketyam.co">Rocket Yam</a>.</p> #}
  <p>I publish a poem every day.</p>
  <p>I play the saxophone.</p>
  <p>Get in touch:
    <a href="mailto:mail@adammi.sh">mail@adammi.sh</a>.</p>
</div>