<meta property="og:url" content="https:/adammi.sh/" />
<meta property="og:title" content="Adam Mish" />
<meta property="og:description" content="{%- if description -%}{{ description }}{%- else -%}A person who thinks all the time has nothing to think about except thoughts.{%- endif -%}" />