<meta property="og:url" content="https:/adammi.sh/" />
<meta property="og:title" content="Adam Mish" />
<meta property="og:description" content="{%- if description -%}{{ description }}{%- else -%}A running start for JAMstack projects with Eleventy, TailwindCSS and some Netlify goodies{%- endif -%}" />
<meta property="og:image" content='https://eleventail.netlify.com/images/og-card.jpg' />
