---
layout: default
pageClass: poems
templateEngineOverride: njk, md
---
<section>
  <time value="{{ item.date }}">{{ date | readableDate }}</time>
  <h1 class="heading">{{ title }}</h1>
  <div class="mb-4 text-lg font-medium">
    {{ content | section | safe }}
  </div>
  <div>
    {{ content | section('remainder') | safe }}
  </div>
  <p>
    <a href="/poems">all poems</a>
  </p>
  <div>
    <p>
      Have a thought on this, or want to get in touch? Email
      <a href="mailto:mail@adammi.sh">mail@adammi.sh</a>.
    </p>
  </div>
</section>