---
layout: default
pageClass: poems
templateEngineOverride: njk, md
---
<section>
  <time value="{{ item.date }}" class="text-gray-600">{{ date | readableDate }}</time>
  <h1 class="heading">{{ title }}</h1>
  <div class="mb-4 text-lg font-medium">
    {{ content | section | safe }}
  </div>
  <div>
    {{ content | section('remainder') | safe }}
  </div>
  <p class="mt-8"><a href="/poems">all poems</a></p>
  <div class="mt-12 pt-4 border-t border-gray-600">
    <p>
      Have a thought on this, or want to get in touch? Email 
      <a href="mailto:mail@adammi.sh">mail@adammi.sh</a> or send me a message
      on <a href="https://twitter.com/adammish">twitter</a>.
    </p>
  </div>
  <div class="newsletter md:w-1/2 py-6">
    <p class="italic py-2">I can email you each Friday with the weeks new writings.</p>
    <form name="weekly-newsletter" method="POST" action="/thank-you" netlify>
      <input class="bg-white focus:outline-none focus:shadow-outline border border-gray-700 rounded-lg py-2 px-4 block w-full appearance-none leading-normal placeholder-gray-700" type="email" name="email" placeholder="Your email" required>
      <button class="bg-red-700 hover:bg-red-800 text-white font-bold py-2 px-4 mt-2 rounded focus:outline-none focus:shadow-outline" type="submit">Send it</button>
    </form>
  </div>
</section>

