---
layout: default
pageClass: poems
templateEngineOverride: njk, md
---
<section>
  <time value="{{ item.date }}" class="text-gray-600">{{ date | readableDate }}</time>
  <h1 class="heading">{{ title }}</h1>
  <div class="mb-4 text-lg font-medium">
    {{ content | section | safe }}
  </div>
  <div>
    {{ content | section('remainder') | safe }}
  </div>
  <p class="mt-8"><a href="/poems">all poems</a></p>
  <div class="mt-12 pt-4 border-t border-gray-600">
    <p>
      Have a thought on this, or want to get in touch? Email 
      <a href="mailto:mail@adammi.sh">mail@adammi.sh</a> or send me a message
      on <a href="https://twitter.com/adammish">twitter</a>.
    </p>
  </div>
  <div class="newsletter md:w-1/2 py-6">
    <p class="italic py-2">Get an email each Friday with the weeks new writings.</p>
    <script async data-uid="03d2b6e1f7" src="https://sunny-leader-1529.ck.page/03d2b6e1f7/index.js"></script>
    <p class="italic">No spam, unsubscribe anytime.</p>
  </div>
</section>

