    <li class="mt-6">
      <h4 class="text-lg">
        <a href="{{ item.url }}" class="font-bold">{{ item.data.title }}</a>
        &bull; <time value="{{ item.date }}">{{ item.date | readableDate }}</time>
      </h4>
      <div>
      {{ item.templateContent | section | safe }}
      </div>
    </li>
