---
title: Adam Mish blogs
layout: default
---

<section>
  <h1 class="heading">Blog posts</h1>
  <ul class="list-none">
    {%- for item in collections.post | head() | reverse -%}
      {% include 'components/post-teaser.njk' %}
    {%- endfor -%}
  </ul>
</section>
