---
title: Adam Mish codes
layout: default
---

<section>
  <h1>Hi there 👋</h1>
  <h2>A bit about me</h2>
  <p>I love the poetry of code. I'm obsessed with quality, clean, beautiful code. Code, after all, is for humans to read.</p>
  <p>I have 5+ years of web development experience, all the way across the stack. I'm always learning. I like to dive deep into my toolset, and get at the foundational components that apply across languages.</p>
  <p>I like to write code the way <a href="https://en.wikipedia.org/wiki/Ernest_Hemingway">Hemingway</a> writes prose.</p>
  <p>These days I've been focused on modern <a href="https://www.jetbrains.com/lp/php-25/">PHP</a> and JavaScript development. I've been very excited about a <a href="https://laravel.com">Laravel</a> stack with <a href="https://laravel-livewire.com">Livewire</a> and <a href="https://github.com/alpinejs/alpine/">Alpine.js</a>. I like to use modern PHP 7.* tooling in my WordPress development as well (think <a href="https://roots.io">roots.io</a>). I bounce between <a href="https://reactjs.org/">React</a> and <a href="https://vuejs.org/">Vue</a> on the frontend, and enjoy working with both.</p>
  <p>I'm <b>always</b> down to pick up a new tool or idea. Please please please, teach me something new!</p>
  <div class="flex flex-col md:flex-row">
    <div class="md:w-1/2 py-3">
      <h2>Languages</h2>
      <ul>
        <li>JavaScript</li>
        <li>PHP</li>
        <li>CSS3</li>
        <li>HTML</li>
        <li>Python</li>
        <li>Bash</li>
      </ul>
    </div>
    <div class="md:w-1/2 py-3">
      <h2>Frameworks/CMSs</h2>
      <ul>
        <li>Laravel</li>
        <li>WordPress</li>
        <li>Node</li>
        <li>Express</li>
        <li>Vue</li>
        <li>React</li>
        <li>jQuery</li>
        <li>Tailwind</li>
        <li>Bootstrap</li>
      </ul>
    </div>
  </div>
  <div class="flex flex-col md:flex-row">
    <div class="md:w-1/2 py-3">
      <h2>Preprocessors</h2>
      <ul>
        <li>PostCSS</li>
        <li>SASS</li>
        <li>Stylus</li>
      </ul>
    </div>
    <div class="md:w-1/2 py-3">
      <h2>Other skills</h2>
      <ul>
        <li>Git</li>
        <li>RDBMS (MySQL, Postgres)</li>
        <li>Linux sysadmin</li>
        <li>Agile software development</li>
        <li>French press coffee ☕</li>
    </div>
  </div>
  <div class="border border-black p-4 my-16 text-center">
    <h2>Lets make cool things together!</h2>
    <p class="mb-4">Email <a href="mailto:mail@adammi.sh">mail@adammi.sh</a>, or find me on <a href="https://twitter.com/adammish">Twitter</a> 👍.</p>
  </div>
</section>
