---
title: Adam Mish
layout: default
---

<div class="latest">
  <div class="latest-poem">
    <h2>Latest poem:</h2>
    {%- for item in collections.poem | head(-1) -%}
      <h3>
        <a class="latest-title" href="{{ item.url }}">{{ item.data.title }}</a>
      </h3>
      {{ item.templateContent | safe }}
    {%- endfor -%}
    <p>
      <a href="/poems">all poems</a>
    </p>
  </div>
  <div>
    <div class="latest-posts">
      <h2>Latest posts:</h2>
      {%- for item in collections.post | head(-3) | reverse -%}
        <p>
          <a class="latest-title" href="{{ item.url }}">{{ item.data.title }}</a>
        </p>
        {{ item.templateContent | section | safe }}
      {%- endfor -%}
      <p>
        <a href="/blog">all posts</a>
      </p>
    </div>
    <div class="latest-track">
      <h2>Latest track:</h2>
      {# {%- for item in collections.track | head(-1) -%}
        <p class="font-bold">
          <a href="{{ item.url }}">{{ item.data.title }}</a>
        </p>
        {{ item.templateContent | section | safe }}
      {%- endfor -%}
      <div class="mt-8">
        <a href="/blog">all tracks</a>
        &bull;
        <a href="/poems">spotify</a>
      </div> #}
      <p>Weekly music coming soon 🤘.</p>
    </div>
  </div>
</div>