---
title: Adam Mish writes poetry
layout: default
---

<section>
  <h1 class="heading">Thank you!</h1>
  <p class="mt-6">
    You'll start getting emails from me soon :).
  </p>
  <p>Head back <a href="/">home</a>.</p>
</section>
